/*-- Card --*/

.card{
    width: 350px;
    height: 375px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 145px 1fr;

    $border-radius: 15px;
    border-radius: $border-radius;

    z-index: 100;

    &__top{
        position: relative;
        background-color: var(--dark-cyan--clr);
        background-image: url(/src/assets/bg-pattern-card.svg);

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        &::after{
            content: '';
            
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 106px;
            aspect-ratio: 1/1;
            background: url(/src/assets/image-victor.jpg);
            border: 5px solid var(--white--clr);
            border-radius: 50%;
        }
    }

    &__content{
        padding: 48px 0 0 0;
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        .profile__name{
            margin-top: 22px;
        }

        .profile__location{
            margin-top: 5px;
        }
    }

    &__stats{
        padding: 0 42px;

        background-color: var(--white--clr);

        border-top: 1px solid var(--dark-gray--clr);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .stats__card{
            text-align: center;
        }
    }
}

@media (max-width: 400px) {
    .card{
        width: 326px;
        height: 374px;
    }
}