/*-- Colors --*/

:root{ 
    --white--clr: rgb(255, 255, 255);
    --black--clr: rgb(0, 0, 0);

    //Primary
    --dark-cyan--clr: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue--clr: hsl(229, 23%, 23%);
    --dark-grayish-blue--clr: hsl(227, 10%, 46%);

    //Neutral
    --dark-gray--clr: hsl(0, 0%, 59%);
}