
body{
	font-family: var(--kumbh-sans);
}

h1{
	font-size: 18px;
	font-weight: 700;

	span{
		font-weight: 400;
	}
}

h2{
	font-size: 13px;
	font-weight: 400;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1px;
}

a,
a:visited,
a:active {
	text-decoration: none;
}
